<!-- universal login -->

{{ template "header.html" . }}

<section id = "universal-login">
    <div class = "container">
        <h1>Here</h1>
    </div>
</section>

<script>
    window.addEventListener('load', function() {
        console.log('here')
    })
</script>

{{ template "footer.html" . }}
